<div class="alert_flotante alert-success" id="success-alert">
    <span id="success-msj"></span>
</div>

<div class="alert_flotante alert-warning" id="warning-alert">
    <span id="warning-msj"></span>
</div>